JDX_DATABASE JDX:jdbc:mysql://localhost:3306/akhil;USER=root;PASSWORD=a19082004;JDX_DBTYPE=MYSQL;DEBUG_LEVEL=5
JDX_OBJECT_MODEL_PACKAGE com.akhil.reversed.files
JDBC_DRIVER com.mysql.cj.jdbc.Driver
JDX_GENERATE_ACCESSOR_METHODS TRUE
JDX_GENERATE_JSON_MAPPINGS TRUE

;
REM ****************************************************************
CLASS Customer TABLE customers
;
CLASS Category TABLE categories
;
CLASS User TABLE users
;
CLASS UserProfile TABLE userprofiles
;
CLASS Order TABLE orders
;
CLASS OrderItem TABLE orderitems
;
